body { height: 100%; overflow-x: hidden; font-family: helvetica, arial; font-size: 13px; }
section { width: 100%; height: 100%; position: absolute; box-sizing: border-box; padding: 40px; }

h1 { text-align: center; font-size: 22px; color: black; }
h2 { text-align: center; font-size: 16px; color: gray; font-weight: 200; }

form { text-align: center; margin: 60px; }

ul { margin: 60px 0; padding: 0; }
ul li { float: left; list-style: none; display: block; box-sizing: border-box; padding: 20px; width: 20%; }
ul li img { padding: 0 5px 5px 0; float: left; }
ul li .name { font-weight: bold; display: block; }
ul li .name.junk { color: silver; }
ul li .name.common { color: gray; }
ul li .name.fine { color: blue; }
ul li .name.masterwork { color: green; }
ul li .name.rare { color: yellow; }
ul li .name.exotic { color: orange; }
ul li .name.legendary { color: purple; }
ul li .level { font-weight: bold; float: left; }
ul li .offer { display: block; clear: both; }
ul li .gold { color: orange; margin: 0 5px 0 0; font-weight: bold; }
ul li .silver { color: silver; margin: 0 5px 0 0; font-weight: bold; }
ul li .copper { color: olive; font-weight: bold; }